package assets

templ Board(coords []string) {
    <style>
        .board {
            display: grid;
            grid-template-columns: repeat(10, 60px);
            grid-template-rows: repeat(10, 60px);
            gap: 1px; /* This will act as the grid lines */
        }
    </style>
    <div class="board">
        for row := 9; row >= 0; row-- {
                for col := 0; col < 10; col++ {
                    @Tile(string(5), true)
                }
            }
    </div>
}